body {
  background-image: linear-gradient(#404040, #6e6e6e);
}
a {
  text-decoration: none;
  color: #61ee5c;
}
i {
  color: rgba(153, 153, 153, 0.5);
  padding-right: 5px;
}
ul {
  list-style: none;
}
h2 {
  font-weight: lighter;
  font-size: 140%;
  color: #999;
  padding: 15px 0px 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  font-family: "Lato", sans-serif;
}
label {
  font-family: "Lato", sans-serif;
  color: rgba(153, 153, 153, 0.9);
}
#login {
  padding: 40px;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 8px;
  margin: 80px 200px 80px auto;
}
#login img {
  width: 200px;
  padding-top: 30px;
}
#login form input {
  width: 100%;
  display: block;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 120%;
  height: 46px;
  padding: 0 5px;
  margin-bottom: 20px;
}
#botao {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #25a25a;
  font-size: 120%;
  padding: 10px 18px;
  width: 100%;
  margin-top: 20px;
}
#login p {
  text-align: right;
  color: #347b3e;
}
#side {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 320px;
  margin-right: 20px;
  height: 200%;
  background-image: linear-gradient(#3e3e3e, #565656);
  padding-right: 50px;
}
.menu_link {
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 87%;
  cursor: pointer;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
}
.menu_topico {
  padding-top: 10px;
  color: #aaa;
  font-size: 80%;
  font-family: "Lato", sans-serif;
}
#side img {
  width: 148px;
  padding-top: 50px;
}
#login form input:focus-within {
  border: 2px solid rgb(91, 183, 91);
}
.menu_link:hover {
  transition: 800ms;
  color: rgb(117, 173, 10);
}
.menu_link:hover * {
  transition: 800ms;
  color: rgb(117, 173, 10);
}
