body {
  overflow-x: hidden;
  background-color: #f0f2f5;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input {
  display: block;
}
#formularios {
  padding: 15px;
  margin: 120px 108px 0 0;
  float: right;
  width: 380px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 8px 12px 3px rgba(0, 0, 0, 0.1);
}
#formularios p {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500px;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
#formularios p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#email {
  width: 95%;
  border-radius: 6px;
  font-size: 13pt;
  padding: 14px 0px 15px 14px;
  background-color: transparent;
  border: 1px solid #dddfe2;
  margin-bottom: 15px;
}
#senha {
  width: 95%;
  border-radius: 6px;
  font-size: 13pt;
  padding: 14px 0px 15px 14px;
  background-color: transparent;
  border: 1px solid #dddfe2;
}
#entrar {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding: 1px 3px 1px 5px;
  line-height: 48px;
  color: white;
  cursor: pointer;
}
#entrar:hover {
  transition: 300ms;
  background-color: #0e67db;
}
#novaconta {
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 20px 13px 20px 13px;
  cursor: pointer;
  background-color: #42b72a;
  color: white;
  font-weight: bold;
  line-height: 50%;
  margin: 30px 0 15px 0;
}
#facebook {
  float: left;
  width: 600px;
  margin: 170px 0 0 90px;
}
#facebook img {
  padding: 0;
  margin-top: -28px;
  display: inline-block;
  height: 106px;
}
#facebook h2 {
  margin: 0px 0px 0px 30px;
  font-size: 27px;
  line-height: 33px;
  width: 480px;
  font-family: sans-serif;
  font-weight: normal;
}
#ultimotexto {
  text-align: center;
  float: right;
  margin: 28px 100px 0 300px;
  border-top: none;
  font-size: 14px;
  width: 415px;
  font-family: sans-serif;
  line-height: 1.34;
}
.textoformatado {
  cursor: pointer;
  font-weight: bold;
}
.textoformatado:hover {
  text-decoration: underline;
}
