body {
  background-color: #ffffff;
}
#out {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
#mid {
  text-align: center;
}
#mid input {
  font-size: 14px;
  font-family: Arial, sans-serif;
  width: 600px;
  border-color: lightgray;
  border-width: thin;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 20px;
  color: #ffffff;
  background-color: transparent;
}

#bot {
  text-align: center;
}
#bot button {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin: 10px 15px;
  color: #b4a99a;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border: 1px;
  border-radius: 5px;
}

#bot button:hover {
  cursor: pointer;
}
